{% include head.html %}
  </head>

  <body>
    <div id="main">
      <header>
        <h1>
          Just a ph-pages test !
        </h1>
        <header>
          <nav role="navigation">
            <ul>
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/portfolio/"> Portfolio </a>
              </li>
              <li>
                <a href="/about"> About </a>
              </li>
              <li>
                <a href="/contact"> Contact </a>
              </li>
            </ul>
          </nav>
          {{ content }}
          <footer>
            <p>
              
            </p>
          </footer>
    </div>
  </body>

</html>